<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APP</title>
</head>
<body>
    <ul>
        <li>
            <a href="about">About</a>
            <a href="weather">Weather</a>
            <a href="bienvenida/Jonathan">Welcome</a>
        </li>
    </ul>
</body>
</html>